@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

body{
    font-family: 'Fredoka';
}

.header{
    align-items: right;
}

.container {
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
}

.saludo {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 34px;
    width: 80%;
    margin: 30px auto;
}

main section:nth-child(2){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section:nth-child(2) img:hover {
    transform: scale(1.2);
}
