@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

body {
    background-color: #181818;
}

form a{
    float: right;
}

.saludo {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 34px;
    width: 80%;
    margin: 30px auto;
}

main section:nth-child(2){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section:nth-child(2) img:hover {
    transform: scale(1.2);
}
